<?php
$delayed = 0;
$totalPrice = 0;
$pending = 0;
$success = 0;
foreach ($followList as $item)
{
    if($item['status'] != 3 && $item['date'] != date('Y-m-d'))
    {
        $delayed++;
    }elseif($item['status'] == 9)
    {
        $success++;
        $totalPrice = $totalPrice + $item['price'];
    }elseif($item['status'] == 1)
    {
        $pending++;
    }
}

$this->inlineScript()
    //->prependFile($this->basePath('operation/assets/js/metha-product.js'))
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    var dataList = $('.dataList').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
        }
    });
    
    $('[data-type="link"]').on('click', function() {
        var id = $(this).data('id');
        window.location.href = '/follow/view/' + id;
    });
});
JS;

$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-xl-3 mt-3">
        <div class="card">
            <div class="card-body">
                <img src="<?=$this->basePath('dist/images/traffic.png');?>" alt="traffic" class="float-right">
                <h6 class="card-title font-weight-bold">Bekleyen Evrak</h6>
                <h6 class="card-subtitle mb-2 text-muted">Bekleyen iş sayısı</h6>
                <h2><?=$pending;?></h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 mt-3">
        <div class="card">
            <div class="card-body">
                <img src="<?=$this->basePath('dist/images/traffic.png');?>" alt="traffic" class="float-right">
                <h6 class="card-title font-weight-bold">Onaylanan Evrak</h6>
                <h6 class="card-subtitle mb-2 text-muted">Tamamlanana iş sayısı</h6>
                <h2><?=$success;?></h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 mt-3">
        <div class="card">
            <div class="card-body">
                <img src="<?=$this->basePath('dist/images/traffic.png');?>" alt="traffic" class="float-right">
                <h6 class="card-title font-weight-bold">Geciken Evrak</h6>
                <h6 class="card-subtitle mb-2 text-muted">Geciken iş sayısı</h6>
                <h2><?=$delayed;?></h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3 mt-3">
        <div class="card">
            <div class="card-body">
                <img src="<?=$this->basePath('dist/images/wallet.png');?>" alt="wallet" class="float-right">
                <h6 class="card-title font-weight-bold">Toplam Ödeme</h6>
                <h6 class="card-subtitle mb-2 text-muted">Günlük yapılacak olan ödeme</h6>
                <h2><?=$totalPrice;?> ₺</h2>
            </div>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center w-100 rounded">
            <h4>İş Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover dataList">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Takip No</th>
                        <th scope="col">Müşteri</th>
                        <th scope="col">İl / İlçe</th>
                        <th scope="col">Durumu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($followList as $item):?>
                        <?php if($item['status'] != 3):?>
                            <?php if($item['date'] == date('Y-m-d')):?>
                                <tr data-type="link" data-id="<?=$item['id'];?>" <?=$item['status'] == 3 ? 'style="background: #5cd6d6;color: #fff;"' : null;?>>
                                    <td><b>#<?=$item['code'];?></b></td>
                                    <td><?=$item['name_surname'];?></td>
                                    <td><?=strlen($cityList[$item['city']]) > 0 ? $cityList[$item['city']] : $item['city'];?> / <?=strlen($countyList[$item['city']][$item['county']]) > 0 ? $countyList[$item['city']][$item['county']] : $item['county'];?></td>
                                    <td><?=$statusList[$item['status']];?></td>
                                </tr>
                            <?php else:?>
                                <tr class="bg-danger text-white" data-type="link" data-id="<?=$item['id'];?>">
                                    <td><b>#<?=$item['code'];?></b></td>
                                    <td><?=$item['name_surname'];?></td>
                                    <td><?=strlen($cityList[$item['city']]) > 0 ? $cityList[$item['city']] : $item['city'];?> / <?=strlen($countyList[$item['city']][$item['county']]) > 0 ? $countyList[$item['city']][$item['county']] : $item['county'];?></td>
                                    <td><?=$statusList[$item['status']];?></td>
                                </tr>
                            <?php endif;?>
                        <?php endif;?>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
