<?php
/**
 * Time: 22:49
 * Description:
 */
?>
<div id="header-fix" class="header fixed-top">
    <nav class="navbar navbar-expand-lg  p-0">
        <div class="navbar-header h4 mb-0 align-self-center d-flex">
            <a href="<?=$this->url('site');?>" class="horizontal-logo align-self-center d-flex d-lg-none">
                <img src="<?=$this->basePath('dist/images/logo.png');?>" alt="logo" width="23" class="img-fluid"/> <span class="h5 align-self-center mb-0 ">KUTSİ</span>
            </a>
            <a href="#" class="sidebarCollapse ml-2" id="collapse"><i class="icon-menu body-color"></i></a>
        </div>
        <div class="navbar-right ml-auto">
            <ul class="ml-auto p-0 m-0 list-unstyled d-flex">
                <li class="dropdown user-profile d-inline-block py-1 mr-2">
                    <a href="#" class="nav-link px-2 py-0" data-toggle="dropdown" aria-expanded="false">
                        <div class="media">
                            <div class="media-body align-self-center d-none d-sm-block mr-2">
                                <p class="mb-0 text-uppercase line-height-1"><b><?=$_SESSION['userInfo']['name_surname'];?></b><br/><span> <?=$_SESSION['userInfo']['type'] == 'carrier' ? 'Kurye' : null;?> <?=$_SESSION['userInfo']['type'] == 'user' ? 'Bayi' : null;?> <?=$_SESSION['userInfo']['type'] == 'admin' ? 'Yönetici' : null;?> </span></p>

                            </div>
                            <img src="https://maya.abonesepeti.com/assets/media/img/logo/incir_logo.png" alt="" class="d-flex img-fluid rounded-circle" width="45">

                        </div>
                    </a>

                    <div class="dropdown-menu  dropdown-menu-right p-0">
                        <a href="<?=$this->url('site/user/logout');?>" class="dropdown-item px-2 text-danger align-self-center d-flex">
                            <span class="icon-logout mr-2 h6  mb-0"></span> Çıkış Yap</a>
                    </div>

                </li>

            </ul>
        </div>
    </nav>
</div>
