<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU <mehmethakkioglu@yandex.com>
 * Date: 14.01.2020
 * Time: 22:49
 * Description:
 */
?>
<div class="sidebar">
    <a href="#" class="sidebarCollapse float-right h6 dropdown-menu-right mr-2 mt-2 position-absolute d-block d-lg-none">
        <i class="icon-close"></i>
    </a>

    <a href="<?=$this->url('site');?>" class="sidebar-logo d-flex">
        <img src="<?=$this->basePath('dist/images/logo.png');?>" alt="logo" width="25" class="img-fluid mr-2"/>
        <span class="h5 align-self-center mb-0">KUTSİ</span>
    </a>

    <ul id="side-menu" class="sidebar-menu">
        <li class="dropdown<?=$navbar == 'home' ? ' active' : null;?>"><a href="<?=$this->url('site');?>"><i class="icon-speedometer"></i>Ana Sayfa</a></li>
        <li class="dropdown<?=$navbar == 'follow' ? ' active' : null;?>"><a href="<?=$this->url('site/follow');?>"><i class="icon-doc"></i>Evraklar</a></li>
        <?php if($_SESSION['userInfo']['type'] == 'admin'):?>
            <li class="dropdown<?=$navbar == 'user' ? ' active' : null;?>"><a href="<?=$this->url('site/user');?>"><i class="icon-user"></i>Kullanıcılar</a></li>
            <li class="dropdown<?=$navbar == 'carrier' ? ' active' : null;?>"><a href="<?=$this->url('site/carrier');?>"><i class="icon-user"></i>Kuryeler</a></li>
            <li class="dropdown<?=$navbar == 'report' ? ' active' : null;?>"><a href="<?=$this->url('site/report');?>"><i class="icon-chart"></i>Raporlar</a></li>
            <li class="dropdown<?=$navbar == 'progress' ? ' active' : null;?>"><a href="<?=$this->url('site/report/progress');?>"><i class="icon-credit-card"></i>Hakediş</a></li>
        <?php endif;?>

        <?php if($_SESSION['userInfo']['type'] == 'user'):?>
            <li class="dropdown<?=$navbar == 'carrier' ? ' active' : null;?>"><a href="<?=$this->url('site/carrier');?>"><i class="icon-user"></i>Kuryeler</a></li>
            <li class="dropdown<?=$navbar == 'report' ? ' active' : null;?>"><a href="<?=$this->url('site/report');?>"><i class="icon-chart"></i>Raporlar</a></li>
            <li class="dropdown<?=$navbar == 'progress' ? ' active' : null;?>"><a href="<?=$this->url('site/report/progress');?>"><i class="icon-credit-card"></i>Hakediş</a></li>
        <?php endif;?>
    </ul>
</div>
