<?php
$this->headLink()
    ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css')
    ->prependStylesheet($this->basePath('dist/css/metha-select2.css'))
    ->prependStylesheet('https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css')
    ->prependStylesheet($this->basePath('dist/vendors/datatable/buttons/css/buttons.bootstrap4.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/datatable/css/dataTables.bootstrap4.min.css'))
    ->prependStylesheet($this->basePath('dist/css/main.css'))
    ->prependStylesheet($this->basePath('dist/vendors/ionicons/css/ionicons.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/fontawesome/css/all.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/bootstrap-tour/css/bootstrap-tour-standalone.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/starrr/starrr.css'))
    ->prependStylesheet($this->basePath('dist/vendors/chartjs/Chart.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/weather-icons/css/pe-icon-set-weather.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/morris/morris.css'))
    ->prependStylesheet($this->basePath('dist/vendors/flag-select/css/flags.css'))
    ->prependStylesheet($this->basePath('dist/vendors/flags-icon/css/flag-icon.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/simple-line-icons/css/simple-line-icons.css'))
    ->prependStylesheet($this->basePath('dist/vendors/jquery-ui/jquery-ui.theme.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/jquery-ui/jquery-ui.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/bootstrap/css/bootstrap.min.css'));

$this->headScript();
//->prependFile($this->basePath('css/script.js'));

$this->inlineScript()
    ->prependFile($this->basePath('dist/vendors/jquery/jquery-3.3.1.min.js'))
    ->captureStart();
echo <<<JS

$(document).ready(function() {    
    $('[data-type="login"]').on('click', function() {
        $.ajax({
            url: '/api/user/login/',
            type: 'POST',
            data: {
                username: $('[name="username"]').val(),
                password: $('[name="password"]').val()
            },
            success: function(result) {
                if(result['code'] == 200)
                {
                    window.location.href = '/';
                }else{
                    alert(result['message']);
                }
            }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<!DOCTYPE html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title><?=isset($title) ? $title : null;?> | Kurye Takip Sistemi</title>
    <link rel="shortcut icon" href="<?=$this->basePath('dist/images/favicon.ico');?>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <?=$this->headLink();?>
</head>

<body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

    * {
        box-sizing: border-box;
    }

    body {
        background: #f6f5f7;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        margin: -20px 0 50px;
    }

    h1 {
        font-weight: bold;
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span {
        font-size: 12px;
    }

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    button {
        border-radius: 20px;
        border: 1px solid #3caaaa;
        background-color: #3caaaa;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

    form {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }

    .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }

    .sign-up-container {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    @keyframes show {
        0%, 49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%, 100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .container.right-panel-active .overlay-container{
        transform: translateX(-100%);
    }

    .overlay {
        background: #3caaaa;
        background: -webkit-linear-gradient(to right, #359393, #3caaaa);
        background: linear-gradient(to right, #359393, #3caaaa);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #FFFFFF;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlay-left {
        transform: translateX(-20%);
    }

    .container.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    .container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }

    .social-container {
        margin: 20px 0;
    }

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

    footer {
        background-color: #222;
        color: #fff;
        font-size: 14px;
        bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 999;
    }

    footer p {
        margin: 10px 0;
    }

    footer i {
        color: #3caaaa;
    }

    footer a {
        color: #3caaaa;
        text-decoration: none;
    }
</style>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form>
            <img src="<?=$this->basePath('abonesepeti.jpg');?>" style="padding-bottom:50px;">
            <input type="text" name="username" placeholder="Kullanıcı Adı" />
            <input type="password" name="password" placeholder="Parola" />
            <button type="button" data-type="login">Giriş Yap</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 style="padding-bottom: 55px;">Merhaba!</h1>
                <p>Kuryemiz olmak ister misin? Hemen <a href="mailto:destek@abonesepeti.com">destek@abonesepeti.com</a> adresine mail atarak yada <a href="tel:(0212) 809 00 00">(0212) 809 00 00</a> numaralı telefonumuzu arayarak başvuru yapabilirsin.</p>
            </div>
        </div>
    </div>
</div>
<?=$this->inlineScript();?>
</body>

</html>
