<?php
/**
 * Time: 22:49
 * Description:
 */
?>
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    <li>
                        <a class="nav-link" href="<?=$this->url('panel');?>">
                            <i class="fas fa-home" aria-hidden="true"></i>
                            <span>Panel</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-pager" aria-hidden="true"></i>
                            <span>Blog</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/blog/create');?>">
                                    Blog Oluştur
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/blog');?>">
                                    Blog Listele
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-certificate" aria-hidden="true"></i>
                            <span>Kategori Yönetimi</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/category/create');?>">
                                    Kategori Oluştur
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/category');?>">
                                    Kategori Listele
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-shopping-bag" aria-hidden="true"></i>
                            <span>Sipariş Yönetimi</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/cart');?>">
                                    Siparişleri Listele
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-ad" aria-hidden="true"></i>
                            <span>Reklam Yönetimi</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/ad/create');?>">
                                    Reklam Oluştur
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/ad');?>">
                                    Reklam Listele
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-file" aria-hidden="true"></i>
                            <span>Dergi Yönetimi</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/magazine/create');?>">
                                    Dergi Oluştur
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/magazine');?>">
                                    Dergi Listele
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="fas fa-copy" aria-hidden="true"></i>
                            <span>Kupon / İndirim Yönetimi</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/coupon/create');?>">
                                    Kupon / İndirim Oluştur
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="<?=$this->url('panel/coupon');?>">
                                    Kupon / İndirim Listele
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" href="<?=$this->url('panel/page/static');?>">
                            <i class="fas fa-charging-station" aria-hidden="true"></i>
                            <span>Sabitler</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>


    </div>

</aside>
