<?php
/**
 * Time: 22:49
 * Description:
 */
$uploadURL = $this->url('api/follow/upload');
$uploadSaveURL = $this->url('api/follow/save');

$this->inlineScript()
    ->prependFile('http://malsup.github.io/jquery.form.js')
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="uploadButton"]').hide();

    var fileName = null;
    
        $('form').ajaxForm({
            beforeSend: function() {
                $('[data-type="progress"]').attr('style','width: 0%;').attr('aria-valuenow',0);
                $('[type="submit"]').html('<i class="fa fa-pause"></i> Yükleniyor...');
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                $('[data-type="progress"]').attr('style','width:' + percentComplete + '%;').attr('aria-valuenow',percentComplete);
            },
            complete: function(xhr) {
                $('[type="submit"]').html('<i class="fa fa-undo"></i> Yeniden Yükle');
                $('[data-type="uploadButton"]').show();

                result = JSON.parse(xhr['responseText']);

                $('[name="fileName"]').val(result['file']);
                
                $.each(result['result'], function (key, item) {
                    if(item != '')
                    {
                        var col = $('<div>').attr('class','col-md-3');
                        var formGroup = $('<div>').attr('class','form-group');
                        var label = $('<label>').text(item);
                        var select = $('<select>').attr('name','column[' + key + ']').attr('style','width:100%;')

                        $(select).append('<option value="0">Lütfen seçim yapınız...</option><option value="name">Adı</option><option value="surname">Soyadı</option><option value="gsm">GSM</option><option value="tc_no">TC No</option><option value="address">Adresi</option><option value="phone">Sabit Telefon</option><option value="name_surname">Adı Soyadı</option><option value="email">E-Posta</option><option value="category">Kategori</option><option value="company">Firma Adı</option><option value="address">Adresi</option><option value="city">İl</option><option value="county">İlçe</option>');

                        $(formGroup).append($(label)).append($(select));
                        $(col).append($(formGroup));

                        $('[data-type="columns"]').append($(col));
                        
                        $(select).select2();
                    }
                });
            }
        });

        $('#leadUpload').click(function() {
            $('input[type=file]').trigger('click');
        });

        $('[data-type="uploadButton"]').on('click', function () {
            $.ajax({
                url: '$uploadSaveURL',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                data: $('form').serialize(),
                success: function (result) {
                    if(result['code'] == 200)
                    {
                        if(result['result'][200])
                        {
                            window.location.href = '/';
                        }else{
                            alert("Kaydedilmeyen veriler mevcut.");
                        }
                    }else{
                        alert("Sorun var");
                    }
                }
            });
        });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 w-100 rounded">
            <form action="<?=$uploadURL;?>" method="post" enctype="multipart/form-data">
                <input type="file" name="integrationFile" style="display: none;">
                <input type="hidden" name="fileName">
                <div id="leadUpload">
                    <div class="content">
                        <i class="fa fa-upload"></i>  Dosya Yükle...
                    </div>
                </div>
                <span>Dosya Yükleme</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated  bg-primary" role="progressbar" data-type="progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-play"></i>  Başlat</button>
                <br>
                <div data-type="columns" class="row"></div>
                <br>
                <button type="button" data-type="uploadButton" class="btn btn-primary btn-block"><i class="fa fa-save"></i>  Yükle</button>
            </form>
        </div>
    </div>
</div>
