<?php
$contactNumber = str_replace('"','',json_decode($data['contact_number'],true)[0]);
$contactNumber = str_replace('[','',$contactNumber);
$contactNumber = str_replace(']','',$contactNumber);
/**
 * Time: 22:49
 * Description:
 */
$saveURL = $this->url($options['saveURL']);
$countyURL = $this->url('api/county');
$dataID = $data['id'];
$uploadURL = $this->url('api/follow/docUpload');

$this->inlineScript()
    ->prependFile('http://malsup.github.io/jquery.form.js')
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="upload"]').hide();
    
    var fileName = null;
    $('form').ajaxForm({
        complete: function(xhr) {
            console.log(xhr);
        }
    });   
    
    
    $('[name="status"]').on('change', function() {
        if($(this).val() == 3)
        {
            $('[data-type="upload"]').show();
        }else{
            $('[data-type="upload"]').hide();
        }
    });
    
    $('[data-action="save"]').on('click', function() {
        /**
        $.ajax({
            url: '$saveURL',
            type: 'POST',
            data: {
                type: 'view',
                status: $('[name="status"]').val(),
                description: $('[name="description"]').val(),
                id: $dataID
            },
            success: function(result) {
                if(result['code'] == 200)
                {
                    window.location.href = '/';
                }else{
                    alert(result['message']);
                }
            }
        });
        **/
        
        $.ajax({
            url: '$uploadURL',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded',
            data: $('form').serialize(),
            success: function (result) {
                
            }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <form action="<?=$uploadURL;?>" method="post" enctype="multipart/form-data" class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="address" class="text-danger">Durum</label>
                                    <select name="status" class="form-control">
                                        <?php foreach ($status as $key => $item):?>
                                            <?php if($key != 9):?>
                                                <option value="<?=$key;?>"<?=$key == $data['status'] ? ' selected' : null?>><?=$item;?></option>
                                            <?php endif;?>
                                        <?php endforeach;?>
                                    </select>
                                </div>

                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Adı Soyadı</th>
                                        <td><?=$data['name_surname'];?></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">İrtibat Numarası</th>
                                        <td><?=$contactNumber;?></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Adres</th>
                                        <td><?=$data['address'];?></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Paket Bilgisi</th>
                                        <td><?=isset($data['package']) ? $data['package'] : 'Gösterilecek paket bilgisi bulunmamaktadır.';?></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Geçilecek Numara</th>
                                        <td><?=isset($data['number']) ? $data['number'] : 'Geçiş yapılacak numara bulunmamaktadır.';?></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Açıklama</th>
                                        <td>
                                            <textarea name="description" rows="5" class="form-control" placeholder="Lütfen işlem ile ilgili bir açıklama yazınız."><?=$data['description'];?></textarea>
                                        </td>
                                    </tr>
                                    <tr data-type="upload">
                                        <th scope="row">Evrak Yükle</th>
                                        <td>
                                            <input type="file" class="form-control" name="docs">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>





                            </div>
                            <hr>
                            <a href="<?=$this->url('site');?>" data-action="save" class="btn btn-<?=$options['color'];?>"><i class="fa fa-arrow-alt-circle-left"></i> Geri Dön</a>
                            <button type="button" data-action="save" class="btn btn-warning"><i class="<?=$options['icon'];?>"></i> Durumu Değiştir</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
