<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU <mehmethakkioglu@yandex.com>
 * Date: 14.01.2020
 * Time: 22:49
 * Description:
 */
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <div class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <img src="<?=$this->basePath('dist/images/logo.png');?>">
            </div>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center w-100 rounded">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Gönderi Numarası</label>
                    <input type="text" name="code" class="form-control" placeholder="Lütfen kontrol etmek istediğiniz gönderi takip numaranızı yazınız.">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block"><i class="fa fa-shopping-basket"></i> Kontrol Et</button>
                </div>
            </div>
        </div>
    </div>
</div>
