<?php
/**
 * Time: 22:49
 * Description:
 */
$saveURL = $this->url($options['saveURL']);
$countyURL = $this->url('api/county');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-action="save"]').on('click', function() {
        $.ajax({
            url: '$saveURL',
            type: 'POST',
            data: {
                name_surname: $('[name="name_surname"]').val(),
                carrier_id: $('[name="carrier_id"]').val(),
                date: $('[name="date"]').val(),
                contact_number: $('[name="contact_number"]').val(),
                address: $('[name="address"]').val(),
                city: $('[name="city"]').val(),
                county: $('[name="county"]').val(),
                package: $('[name="package"]').val(),
                number: $('[name="number"]').val(),
                tc_no: $('[name="tc_no"]').val()
            },
            success: function (result) {
                if(result['code'] == 200)
                {
                    window.location.href = '/';
                }else{
                    alert(result['message']);
                }
            }
        });
    });
    
    $('[name="city"]').on('change', function() {
        var element = $(this);
        $.ajax({
            url: '$countyURL',
            type: 'POST',
            data: {city_id: $(this).val()},
            success: function(result) {
                $('[name="county"]').html('');
                
                $.each(result, function(key, item) {
                    var option = $('<option>').attr('value',key).text(item);
                    $('[name="county"]').append($(option));
                });
            }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name_surname">Adı Soyadı</label>
                                    <input type="text" class="form-control rounded" name="name_surname" placeholder="Adı Soyadı">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="gsm">Kurye</label>
                                    <select name="carrier_id" class="form-control">
                                        <option>Lütfen kurye seçiniz.</option>
                                        <?php foreach ($carrierList as $item):?>
                                        <option value="<?=$item['id'];?>"><?=$item['name_surname'];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="address">Teslim Tarihi</label>
                                    <input type="date" class="form-control rounded" name="date">
                                </div>
                                <div class="form-group col">
                                    <label for="tc_no">TC Kimlik NO</label>
                                    <input type="text" class="form-control rounded" name="tc_no" placeholder="TC Kimlik Numarası">
                                </div>
                                <div class="form-group col">
                                    <label for="address">İletişim Numaraları</label>
                                    <input type="text" class="form-control rounded" name="contact_number" placeholder="İletişim Numaraları">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="address">Teslim Adresi</label>
                                    <textarea class="form-control rounded" name="address" placeholder="Teslim Adresi"></textarea>
                                </div>
                                <div class="form-group col">
                                    <label for="package">Paket Bilgisi</label>
                                    <input type="text" class="form-control rounded" name="package">
                                </div>
                                <div class="form-group col">
                                    <label for="number">Taşınacak Numara</label>
                                    <input type="text" class="form-control rounded" name="number">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="city">Şehir</label>
                                    <select class="form-control" name="city">
                                        <option>Lütfen il seçimi yapınız.</option>
                                        <?php foreach ($cityList as $key => $item):?>
                                            <option value="<?=$key;?>"><?=$item;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="county">İlçe</label>
                                    <select class="form-control" name="county">
                                        <option>Lütfen ilçe seçimi yapınız.</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <button type="button" data-action="save" class="btn btn-<?=$options['color'];?>"><i class="<?=$options['icon'];?>"></i> <?=$options['button'];?></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
