<?php
/**
 * Time: 22:49
 * Description:
 */
$removeURL = $this->url('api/follow/remove');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    var dataList = $('.dataList').DataTable();
    
    $('[data-type="remove"]').on('click', function() {
        var id = $(this).data('id');
        
        Swal.fire({
          title: 'Evrak Silme',
          text: $($(this).closest('tr').find('td')[0]).text() + ' isimli müşteriye ait evrağı silmek istediğinize emin misiniz?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3caaaa',
          cancelButtonColor: '#3caaaa',
          confirmButtonText: 'Evet',
          cancelButtonText: 'Hayır'
        }).then((result) => {
          if (result.value) {
              $.ajax({
                url: '$removeURL',
                type: 'POST',
                data: {id:id},
                success: function(resultData) {
                    if(resultData['code'] == 200)
                    {
                        Swal.fire(
                          'Silindi!',
                          'Evrağınız başarıyla silinmiştir.',
                          'success'
                        );
                    }else{
                        Swal.fire(
                          'Uyarı!',
                          resultData['message'],
                          'danger'
                        );
                    }
                }
              });
          }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <!-- <a href="<?=$this->url('site/carrier/create');?>" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>    Kurye Ekle</a> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover dataList">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Adı Soyadı</th>
                        <th scope="col">Oluşturan</th>
                        <th scope="col">İl / İlçe</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Durumu</th>
                        <th scope="col">İşlem</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($dataList as $item):?>
                    <?php $date = new DateTime($item['create_date']);?>
                        <tr>
                            <td><?=$item['name_surname'];?></td>
                            <td><?=isset($item['add_user']) ? $userList[$item['add_user']]['name_surname'] : 'MAYA';?></td>
                            <td><?=isset($cityList[$item['city']]) ? $cityList[$item['city']] : $item['city'];?> / <?=isset($countyList[$item['city']][$item['county']]) ? $countyList[$item['city']][$item['county']] : $item['county'];?></td>
                            <td><?=$date->format('d/m/Y');?></td>
                            <td><?=$statusList[$item['status']];?></td>
                            <td>
                                <?php if($_SESSION['userInfo']['type'] == 'carrier'):?>
                                    <a href="<?=$this->url('site/follow/view',['id' => $item['id']]);?>" role="button" class="btn btn-primary"><i class="fa fa-edit"></i> Düzenle</a>
                                <?php else:?>
                                    <a href="<?=$this->url('site/follow/edit',['id' => $item['id']]);?>" role="button" class="btn btn-primary"><i class="fa fa-edit"></i> Düzenle</a>
                                <?php endif;?>
                                <button data-type="remove" data-id="<?=$item['id'];?>" role="button" class="btn btn-primary"><i class="fa fa-trash"></i> Sil</button>
                            </td>
                        </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <a href="<?=$this->url('site/follow/create');?>" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>    Evrak Ekle</a>
            <a href="<?=$this->url('site/follow/upload');?>" class="btn btn-primary pull-right"><i class="fa fa-file-excel"></i>    Toplu Yükle</a>
        </div>
    </div>
</div>
