<?php
/**
 * Time: 22:49
 * Description:
 */
$saveURL = $this->url($options['saveURL']);
$countyURL = $this->url('api/county');
$dataID = $data['id'];

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="document"]').hide();
    
    $.ajax({
        url: '$saveURL',
        type: 'POST',
        data: {
            status: $('[name="status"]').val(),
            id: $dataID
        },
        success: function(result) {
            
        }
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="address">Statü</label>
                                    <select name="status" class="form-control">
                                        <?php foreach ($status as $key => $item):?>
                                            <?php if($item['title'] != 'Onaylandı'):?>
                                                <option value="<?=$key;?>"<?=$key == $data['status'] ? ' selected' : null?>><?=$item;?></option>
                                            <?php endif;?>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="name_surname">Adı Soyadı</label>
                                    <input type="text" name="name_surname" class="form-control" value="<?=$data['name_surname'];?>">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="contact_number">İrtibat Numarası</label>
                                    <input type="text" name="contact_number" class="form-control" value="<?=isset(json_decode($data['contact_number'],true)[0]) ? json_decode($data['contact_number'],true)[0] : null;?>">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="address">Adres</label>
                                    <textarea name="address" class="form-control" rows="7"><?=$data['address'];?></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="address">Açıklama</label>
                                    <textarea name="description" class="form-control"></textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="package">Paket Bilgisi</label>
                                    <input type="text" name="package" class="form-control" value="<?=$data['package'];?>">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="number">Geçilecek Numara</label>
                                    <input type="text" name="number" class="form-control" value="<?=$data['number'];?>">
                                </div>
                            </div>
                            <hr>
                            <a href="<?=$this->url('site');?>" data-action="save" class="btn btn-<?=$options['color'];?>"><i class="fa fa-arrow-alt-circle-left"></i> Geri Dön</a>
                            <button type="submit" data-action="save" class="btn btn-<?=$options['color'];?>"><i class="<?=$options['icon'];?>"></i> <?=$options['button'];?></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
