<?php
/**
 * Time: 22:49
 * Description:
 */

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 w-100 rounded">
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <hr>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>    Kaydet</button>
            </form>
        </div>
    </div>
</div>
