<?php
$contactNumber = str_replace('"','',json_decode($data['contact_number'],true)[0]);
$contactNumber = str_replace('[','',$contactNumber);
$contactNumber = str_replace(']','',$contactNumber);
/**
 * Time: 22:49
 * Description:
 */
$saveURL = $this->url($options['saveURL']);
$countyURL = $this->url('api/county');
$dataID = $data['id'];
$uploadURL = $this->url('api/follow/docUpload',['id' => $dataID]);

$this->headLink()
    ->prependStylesheet('https://rawgit.com/enyo/dropzone/master/dist/dropzone.css');

$this->inlineScript()
    ->prependFile($this->basePath('dist/js/dropzone.js'))
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="docs"]').hide();
    
    $('[name="status"]').on('change', function() {
        if($(this).val() == 3)
        {
            $('[data-type="docs"]').show();
        }else{
            $('[data-type="docs"]').hide();
        }
    });
    
    $('#leadUpload').click(function() {
        $('input[type=file]').trigger('click');
    });

    $('[data-type="uploadButton"]').on('click', function () {
        
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="address" class="text-danger">Durum</label>
                                <select name="status" class="form-control">
                                    <?php foreach ($status as $key => $item):?>
                                        <?php if($key != 9):?>
                                            <option value="<?=$key;?>"<?=$key == $data['status'] ? ' selected' : null?>><?=$item;?></option>
                                        <?php endif;?>
                                    <?php endforeach;?>
                                </select>
                            </div>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">Adı Soyadı</th>
                                    <td><?=$data['name_surname'];?></td>
                                </tr>
                                <tr>
                                    <th scope="row">İrtibat Numarası</th>
                                    <td><?=$contactNumber;?></td>
                                </tr>
                                <tr>
                                    <th scope="row">Adres</th>
                                    <td><?=$data['address'];?></td>
                                </tr>
                                <tr>
                                    <th scope="row">Paket Bilgisi</th>
                                    <td><?=isset($data['package']) ? $data['package'] : 'Gösterilecek paket bilgisi bulunmamaktadır.';?></td>
                                </tr>
                                <tr>
                                    <th scope="row">Geçilecek Numara</th>
                                    <td><?=isset($data['number']) ? $data['number'] : 'Geçiş yapılacak numara bulunmamaktadır.';?></td>
                                </tr>
                                <tr>
                                    <th scope="row">Açıklama</th>
                                    <td>
                                        <textarea name="description" rows="5" class="form-control" placeholder="Lütfen işlem ile ilgili bir açıklama yazınız."><?=$data['description'];?></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>



                        <div class="col-12  align-self-center" data-type="docs">
                            <div class="sub-header mt-3 py-3 px-3 w-100 rounded">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label>Evraklar</label>
                                                <form action="<?=$uploadURL;?>" class="dropzone" method="post" enctype="multipart/form-data"></form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php if(isset($docs[0])):?>
                        <div class="col-12  align-self-center">
                            <div class="sub-header mt-3 py-3 px-3 w-100 rounded">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="row">
                                                    <?php foreach ($docs as $item):?>
                                                        <div class="col-sm-3">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h6>Evrak</h6>
                                                                </div>
                                                                <div class="card-body">
                                                                    <img src="<?=$this->basePath('upload/'.$item);?>" class="col" height="150">
                                                                </div>
                                                                <div class="card-footer">
                                                                    <button type="button" class="btn btn-primary btn-block"><i class="fa fa-trash"></i> Evrak Sil</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <?php endforeach;?>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php endif;?>



                        <hr>
                        <a href="<?=$this->url('site');?>" data-action="save" class="btn btn-<?=$options['color'];?>"><i class="fa fa-arrow-alt-circle-left"></i> Geri Dön</a>
                        <button type="button" data-action="save" class="btn btn-warning"><i class="<?=$options['icon'];?>"></i> Durumu Değiştir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
