<?php
/**
 * Time: 22:49
 * Description:
 */
$methaClasses = new \Core\Classes\MethaClasses();
$priceList = '';
foreach ($methaClasses->priceTypes() as $item)
{
    $name = 'name="'.$item['name'].'"';
    $priceList .= $item['name']." : $('[".$name."]').val(),".PHP_EOL;
}

$saveURL = $this->url($options['saveURL']);
$countyURL = $this->url('api/county');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    var dataList = $('.dataList').DataTable();
    
    $('[data-action="save"]').on('click', function() {
        if($('[name="name_surname"]').val() == '')
        {
            alert("Ad Soyad boş bırakılmaz");
        }else if($('[name="gsm"]').val() == '')
        {
            alert("GSM boş bırakılmaz");
        }else if($('[name="username"]').val() == '')
        {
            alert("Kullanıcı Adı boş bırakılmaz");
        }else if($('[name="password"]').val() == '')
        {
            alert("Parola boş bırakılmaz");
        }else if($('[name="address"]').val() == '')
        {
            alert("Adres kısmı boş bırakılmaz");
        }else if($('[data-type="prices"]').val() == '')
        {
            alert("Kurye ücretleri boş bırakılmaz");
        }else if($('[name="area[1][county][]"]').val() == '')
        {
            alert("İlçe kısmı boş bırakılmaz");
        }else{
            $.ajax({
                url: '$saveURL',
                type: 'POST',
                data: {
                    name_surname: $('[name="name_surname"]').val(),
                    gsm: $('[name="gsm"]').val(),
                    $priceList
                    address: $('[name="address"]').val(),
                    username: $('[name="username"]').val(),
                    password: $('[name="password"]').val(),
                    area_one: $('[name="area[1][county][]"]').val(),
                    area_two: $('[name="area[2][county][]"]').val(),
                    area_three: $('[name="area[3][county][]"]').val(),
                    area_four: $('[name="area[4][county][]"]').val(),
                    dealers: $('[name="dealers[]"]').val(),
                    tc: $('[name="tc"]').val(),
                },
                success: function (result) {
                    if(result['code'] == 200)
                    {
                        window.location.href = '/carrier';
                    }else{
                        alert(result['message']);
                    }
                }
            });
        }
    });
    
    $('[name="city"]').on('change', function() {
        var element = $(this);
        var city_id = $(this).val();
        $.ajax({
            url: '$countyURL',
            type: 'POST',
            data: {city_id: city_id},
            success: function(result) {
                var countyList = $(element).closest('.form-row').find('[name*="area"]');
                $(countyList).html('');
                
                $.each(result, function(key, item) {
                    var option = $('<option>').attr('value',key).text(item);
                    $(countyList).append($(option));
                });
            }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="name_surname">Adı Soyadı</label>
                                    <input type="text" class="form-control rounded" name="name_surname" placeholder="Adı Soyadı">
                                </div>
                                <div class="form-group col">
                                    <label for="tc">TC NO</label>
                                    <input type="text" class="form-control" name="tc" placeholder="TC NO">
                                </div>
                                <div class="form-group col">
                                    <label for="gsm">GSM</label>
                                    <input type="tel" class="form-control" name="gsm" placeholder="GSM">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="name_surname">Kullanıcı Adı</label>
                                    <input type="text" class="form-control rounded" name="username" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="form-group col">
                                    <label for="gsm">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Parola">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="address">Adres</label>
                                    <textarea class="form-control rounded" name="address" placeholder="Adres"></textarea>
                                </div>
                                <div class="form-group col" <?=$_SESSION['userInfo']['type'] != 'admin' ? 'style="display:none;"' : null;?>>
                                    <label>Bayiler</label>
                                    <select name="dealers[]" multiple style="width: 100%;">
                                        <optgroup label="Bayiler">
                                            <?php foreach ($dealers as $item):?>
                                                <option value="<?=$item['id'];?>" <?=$item['id'] == $_SESSION['userInfo']['id'] ? 'selected' : null;?>><?=$item['name_surname'];?></option>
                                            <?php endforeach;?>
                                        </optgroup>
                                        <optgroup label="Diğer">
                                            <option value="all">Tüm Bayiler</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <h3>Fiyatlar</h3>
                            <form name="price">
                                <div class="form-row">
                                    <?php foreach ($methaClasses->priceTypes() as $item):?>
                                    <div class="form-group col">
                                        <label for="<?=$item['name'];?>"><?=$item['label'];?></label>
                                        <input type="text" class="form-control" data-type="prices" name="<?=$item['name'];?>" placeholder="<?=$item['label'];?>">
                                    </div>
                                    <?php endforeach;?>
                                </div>
                            </form>
                            <hr>
                            <h3>Bölgeler</h3>
                            <form name="area">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">Şehir</label>
                                        <select class="form-control" name="city">
                                            <option>Lütfen il seçimi yapınız.</option>
                                            <?php foreach ($options['cityList'] as $key => $item):?>
                                                <option value="<?=$key;?>"><?=$item;?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="county">İlçe(ler)</label>
                                        <select class="form-control" name="area[1][county][]" multiple="multiple">
                                            <option>Lütfen ilçe seçimi yapınız.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">Şehir</label>
                                        <select class="form-control" name="city">
                                            <option>Lütfen il seçimi yapınız.</option>
                                            <?php foreach ($options['cityList'] as $key => $item):?>
                                                <option value="<?=$key;?>"><?=$item;?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="county">İlçe(ler)</label>
                                        <select class="form-control" name="area[2][county][]" multiple="multiple">
                                            <option>Lütfen ilçe seçimi yapınız.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">Şehir</label>
                                        <select class="form-control" name="city">
                                            <option>Lütfen il seçimi yapınız.</option>
                                            <?php foreach ($options['cityList'] as $key => $item):?>
                                                <option value="<?=$key;?>"><?=$item;?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="county">İlçe(ler)</label>
                                        <select class="form-control" name="area[3][county][]" multiple="multiple">
                                            <option>Lütfen ilçe seçimi yapınız.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">Şehir</label>
                                        <select class="form-control" name="city">
                                            <option>Lütfen il seçimi yapınız.</option>
                                            <?php foreach ($options['cityList'] as $key => $item):?>
                                                <option value="<?=$key;?>"><?=$item;?></option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="county">İlçe(ler)</label>
                                        <select class="form-control" name="area[4][county][]" multiple="multiple">
                                            <option>Lütfen ilçe seçimi yapınız.</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <button type="button" data-action="save" class="btn btn-<?=$options['color'];?>"><i class="<?=$options['icon'];?>"></i> <?=$options['button'];?></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
