<?php
/**
 * Time: 22:49
 * Description:
 */

$removeURL = $this->url('api/carrier/remove');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    var dataList = $('.dataList').DataTable();
    
    $('[data-type="remove"]').on('click', function() {
        var id = $(this).data('id');
        
        Swal.fire({
          title: 'Kurye Silme',
          text: $($(this).closest('tr').find('td')[0]).text() + ' isimli kuryeyi silmek istediğinize emin misiniz?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3caaaa',
          cancelButtonColor: '#3caaaa',
          confirmButtonText: 'Evet',
          cancelButtonText: 'Hayır'
        }).then((result) => {
          if (result.value) {
              $.ajax({
                url: '$removeURL',
                type: 'POST',
                data: {id:id},
                success: function(resultData) {
                    if(resultData['code'] == 200)
                    {
                        Swal.fire(
                          'Silindi!',
                          'Kuryeniz başarıyla silinmiştir.',
                          'success'
                        );
                        
                        location.reload();
                    }else{
                        Swal.fire(
                          'Uyarı!',
                          'Kurye silme sırasında bir hata ile karşılaştık.',
                          'danger'
                        );
                    }
                }
              });
          }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <!-- <a href="<?=$this->url('site/carrier/create');?>" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>    Kurye Ekle</a> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover dataList">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Adı Soyadı</th>
                        <th scope="col">GSM</th>
                        <th scope="col">Durumu</th>
                        <th scope="col">İşlem</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($dataList as $item):?>
                    <tr>
                        <td><?=$item['name_surname'];?></td>
                        <td><?=$item['gsm'];?></td>
                        <td><?=$item['status'] == 'Y' ? '<span class="badge badge-success">Aktif</span>' : '<span class="badge badge-danger">Pasif</span>';?></td>
                        <td>
                            <a href="<?=$this->url('site/carrier/edit',['id' => $item['id']]);?>" role="button" class="btn btn-primary"><i class="fa fa-edit"></i> Düzenle</a>
                            <button role="button" data-type="remove" data-id="<?=$item['id'];?>" class="btn btn-primary"><i class="fa fa-trash"></i> Sil</button>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <a href="<?=$this->url('site/carrier/create');?>" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>    Kurye Ekle</a>
        </div>
    </div>
</div>
