<?php
$this->headLink()
    ->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css')
    ->prependStylesheet($this->basePath('dist/css/metha-select2.css'))
    ->prependStylesheet('https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css')
    ->prependStylesheet($this->basePath('dist/vendors/datatable/buttons/css/buttons.bootstrap4.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/datatable/css/dataTables.bootstrap4.min.css'))
    ->prependStylesheet($this->basePath('dist/css/main.css'))
    ->prependStylesheet($this->basePath('dist/vendors/ionicons/css/ionicons.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/fontawesome/css/all.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/bootstrap-tour/css/bootstrap-tour-standalone.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/starrr/starrr.css'))
    ->prependStylesheet($this->basePath('dist/vendors/chartjs/Chart.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/weather-icons/css/pe-icon-set-weather.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/morris/morris.css'))
    ->prependStylesheet($this->basePath('dist/vendors/flag-select/css/flags.css'))
    ->prependStylesheet($this->basePath('dist/vendors/flags-icon/css/flag-icon.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/simple-line-icons/css/simple-line-icons.css'))
    ->prependStylesheet($this->basePath('dist/vendors/jquery-ui/jquery-ui.theme.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/jquery-ui/jquery-ui.min.css'))
    ->prependStylesheet($this->basePath('dist/vendors/bootstrap/css/bootstrap.min.css'));

$this->headScript();
    //->prependFile($this->basePath('css/script.js'));

$this->inlineScript()
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js')
    ->prependFile('https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js')
    ->prependFile($this->basePath('dist/vendors/datatable/js/dataTables.bootstrap4.min.js'))
    ->prependFile($this->basePath('dist/vendors/datatable/js/jquery.dataTables.min.js'))
    ->prependFile($this->basePath('dist/js/home.script.js'))
    ->prependFile($this->basePath('dist/vendors/bootstrap-tour/js/bootstrap-tour-standalone.min.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.pie.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.legend.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.uiConstants.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.drawSeries.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.browser.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.saturated.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.flot.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.colorhelpers.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-flot/jquery.canvaswrapper.js'))
    ->prependFile($this->basePath('dist/vendors/starrr/starrr.js'))
    ->prependFile($this->basePath('dist/vendors/chartjs/Chart.min.js'))
    ->prependFile($this->basePath('dist/vendors/morris/morris.min.js'))
    ->prependFile($this->basePath('dist/vendors/raphael/raphael.min.js'))
    ->prependFile($this->basePath('dist/js/app.js'))
    ->prependFile($this->basePath('dist/vendors/flag-select/js/jquery.flagstrap.min.js'))
    ->prependFile($this->basePath('dist/vendors/slimscroll/jquery.slimscroll.min.js'))
    ->prependFile($this->basePath('dist/vendors/bootstrap/js/bootstrap.bundle.min.js'))
    ->prependFile($this->basePath('dist/vendors/moment/moment.js'))
    ->prependFile($this->basePath('dist/vendors/jquery-ui/jquery-ui.min.js'))
    ->prependFile($this->basePath('dist/vendors/jquery/jquery-3.3.1.min.js'))
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('select').select2();
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><?=isset($title) ? $title : null;?> | Kurye Takip Sistemi</title>
    <link rel="shortcut icon" href="<?=$this->basePath('dist/images/favicon.ico');?>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <?=$this->headLink();?>
</head>

<body id="main-container" class="default">
<div class="se-pre-con">
    <img src="<?=$this->basePath('dist/images/logo.png');?>" alt="logo" width="23" class="img-fluid"/>
</div>

<?=$this->partial('partial/site/header');?>
<?=$this->partial('partial/site/sidebar');?>

<main>
    <div class="container-fluid">
        <?=$this->content;?>
    </div>
</main>

<a href="#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>

<?=$this->inlineScript();?>
</body>
<!-- END: Body-->


</html>
