<?php
/**
 * Time: 13:50
 */
?>
<!doctype html>
<html class="fixed">

<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title><?=isset($title) ? $title : '444 Dergi Yönetim Paneli';?></title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/vendor/bootstrap/css/bootstrap.css');?>" />
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/vendor/animate/animate.css');?>">

    <link rel="stylesheet" href="<?=$this->basePath('dashboard/vendor/font-awesome/css/all.min.css');?>" />
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/vendor/magnific-popup/magnific-popup.css');?>" />
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css');?>" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/css/admin.css');?>">
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/css/theme.css');?>" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="<?=$this->basePath('dashboard/css/custom.css');?>">
    <link rel="stylesheet" href="<?=$this->basePath('build/css/metha_panel.css');?>">


    <!-- Head Libs -->
    <?=$this->headLink();?>

    <script src="<?=$this->basePath('dashboard/vendor/jquery/jquery.js');?>"></script>
    <script src="<?=$this->basePath('dashboard/vendor/modernizr/modernizr.js');?>"></script>
    <?=$this->headScript();?>
</head>
<body>
<section class="body">

    <?=$this->partial('partial/panel/navbar');?>

    <div class="inner-wrapper">
        <?=$this->partial('partial/panel/sidebar');?>

        <section role="main" class="content-body">
            <header class="page-header">
                <h2><?=$title;?></h2>

                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="<?=$this->url('panel');?>">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <?php foreach ($breadcrumb as $item):?>
                        <li><span><?=$item['title'];?></span></li>
                        <?php endforeach;?>
                    </ol>

                    <a class="sidebar-right-toggle"></a>
                </div>
            </header>

            <?=$this->content;?>
        </section>
    </div>
</section>

<!-- Vendor -->

<script src="<?=$this->basePath('dashboard/vendor/jquery-browser-mobile/jquery.browser.mobile.js');?>"></script>
<script src="<?=$this->basePath('dashboard/vendor/popper/umd/popper.min.js');?>"></script>
<script src="<?=$this->basePath('dashboard/vendor/bootstrap/js/bootstrap.js');?>"></script>
<script src="<?=$this->basePath('dashboard/vendor/nanoscroller/nanoscroller.js"');?>"></script>
<script src="<?=$this->basePath('dashboard/vendor/magnific-popup/jquery.magnific-popup.js"');?>"></script>
<script src="<?=$this->basePath('dashboard/vendor/jquery-placeholder/jquery.placeholder.js"');?>"></script>
<?=$this->inlineScript();?>

<!-- Theme Base, Components and Settings -->
<script src="<?=$this->basePath('dashboard/js/theme.js"');?>"></script>

<!-- Theme Custom -->
<script src="<?=$this->basePath('dashboard/js/custom.js"');?>"></script>

<!-- Theme Initialization Files -->
<script src="<?=$this->basePath('dashboard/js/theme.init.js"');?>"></script>
</body>

</html>
