<?php
/**
 * Time: 22:49
 * Description:
 */
$registerURL = $this->url('api/user/register');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="save"]').on('click', function () {
        $.ajax({
            url: '$registerURL',
            type: 'POST',
            data: {
                username: $('[name="username"]').val(),
                password: $('[name="password"]').val(),
                password_re: $('[name="password_re"]').val(),
                email: $('[name="email"]').val(),
                name: $('[name="name"]').val(),
                gsm: $('[name="gsm"]').val(),
                surname: $('[name="surname"]').val()
            },
            success: function(result) {
                $('.modal-body').text(result['message']);
                $('#registerModal').modal('toggle');
            }
        })
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<section class="page-title centred">
    <div class="container">
        <div class="content-box">
            <h1>Distribütör Ekranı</h1>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 info-column">
                <div class="contact-form-area">

                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 info-column">
                <div class="contact-form-area">
                    <h2>Kayıt Ol</h2>
                    <form method="post" action="http://azim.commonsupport.com/Rivox/sendemail.php" id="contact-form" class="default-form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Kullanıcı Adı</label>
                                <input type="text" name="username">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Parola</label>
                                <input type="password" name="password">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Parola [Tekrar]</label>
                                <input type="password" name="password_re">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>E-Posta Adresi</label>
                                <input type="email" name="email">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>GSM Numaranız</label>
                                <input type="tel" name="gsm">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Adınız</label>
                                <input type="text" name="name">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Soyadınız</label>
                                <input type="text" name="surname">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                <button type="button" data-type="save" class="btn-style-two btn-block" name="submit-form">Giriş Yap</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uyarı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
