<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU <mehmethakkioglu@yandex.com>
 * Date: 2020-01-03
 * Time: 22:49
 * Description:
 */
$this->headLink()
    ->prependStylesheet('https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css');

$this->inlineScript()
    ->prependFile('https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<section class="page-title centred">
    <div class="container">
        <div class="content-box">
            <h1>Distribütör Ekranı</h1>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <?=$this->partial('partial/site/account');?>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 metha-form">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Firma Adı</label>
                            <input type="text" name="company" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>GSM Numaranız</label>
                            <input type="tel" name="gsm" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>E-Posta Adresiniz</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Randevu Durumu</label>
                            <select class="form-control" name="status">
                                <option>Lütfen seçim yapınız.</option>
                                <option value="Y">Kabul Etti</option>
                                <option value="N">İstemiyor</option>
                                <option value="P">Beklemede</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Randevu Notu</label>
                            <textarea class="form-control" name="note" rows="7"></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <a href="<?=$this->url('site/user/calendar');?>" class="btn-style-one"><i class="fa fa-arrow-alt-circle-left"></i> Geri Dön</a>
                <button type="button" class="btn-style-one pull-right"><i class="fa fa-save"></i> Kaydet</button>
            </div>
        </div>
    </div>
</section>


