<?php
/**
 * Time: 22:49
 * Description:
 */

$removeURL = $this->url('api/carrier/remove');
$xhrURL = $this->url('api/user/register');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-action="save"]').on('click', function() {
        $.ajax({
            url: '$xhrURL',
            type: 'POST',
            data: {
                username: $('[name="username"]').val(),
                name_surname: $('[name="name_surname"]').val(),
                password: $('[name="password"]').val(),
                parent_id: $('[name="parent_id"]').val(),
            },
            success: function(result) {
                if(result['code'] == 200)
                {
                    window.location.href = '/user';
                }else{
                    alert(result['code']);
                }
            }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12 align-self-center">
        <div class="sub-header mt-3 py-3 px-3 rounded">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Parola</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Adı Soyadı</label>
                        <input type="name" class="form-control" name="name_surname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Üst Kullanıcı</label>
                        <select class="form-control" name="parent_id">
                            <?php foreach ($userList as $item):?>
                            <option value="<?=$item['id'];?>"><?=$item['name_surname'];?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 align-self-center">
        <div class="sub-header mt-3 py-3 px-3 rounded">
            <a href="<?=$this->url('site/user');?>" class="btn btn-primary"><i class="fa fa-save"></i> Vazgeç</a>
            <button type="button" data-action="save" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
        </div>
    </div>

</div>
