<?php
/**
 * Created by PhpStorm.
 * User: Mehmet HAKKIOĞLU <mehmethakkioglu@yandex.com>
 * Date: 2020-01-03
 * Time: 22:49
 * Description:
 */
$this->headLink()
    ->prependStylesheet('https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css');

$this->inlineScript()
    ->prependFile('https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<section class="page-title centred">
    <div class="container">
        <div class="content-box">
            <h1>Distribütör Ekranı</h1>
        </div>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <?=$this->partial('partial/site/account');?>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 metha-form">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark-bg">
                    <tr>
                        <th scope="col">Firma Adı</th>
                        <th scope="col">GSM</th>
                        <th scope="col">E-Posta</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">İşlemler</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php if(count($dataList) > 0):?>
                        <?php foreach ($dataList as $item):?>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>Otto</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                        <?php endforeach;?>
                    <?php else:?>
                    <tr>
                        <td colspan="5" class="text-center">Herhangi bir randevu bulunamadı.</td>
                    </tr>
                    <?php endif;?>
                    </tbody>
                </table>
                <a href="<?=$this->url('site/user/calendar/calendarCreate');?>" class="btn-style-one pull-right"><i class="fa fa-plus"></i> Randevu Oluştur</a>
            </div>
        </div>
    </div>
</section>


