<?php
/**
 * Time: 22:49
 * Description:
 */
$ajaxURL = $this->url('api/user/login');

$this->inlineScript()
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="login"]').on('click', function() {
        $.ajax({
            url: '$ajaxURL',
            type: 'POST',
            data: {
                username: $('[name="username"]').val(),
                password: $('[name="password"]').val()
            },
            success: function(result) {
                if(result['code'] == 200)
                {
                    window.location.href = '/';
                }else{
                    Swal.fire(
                        'Uyarı!',
                        result['message'],
                        'warning'
                    );
                }
            }
        });
    });
});
JS;
$this->inlineScript()
    ->captureEnd();
?>
<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <div class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <img src="<?=$this->basePath('dist/images/logo.png');?>">
            </div>
        </div>
    </div>

    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 w-100 rounded">
            <div class="col-md-12">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Parola</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button type="button" data-type="login" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
