<?php
$csvDatas = [];
foreach ($detailList as $items)
{
    $pay = null;
    switch ($items['pay'])
    {
        case 'Y':
            $pay = 'Ödendi';
            break;
        case 'N':
            $pay = 'Ödeme Bekliyor';
            break;
    }
    $csvDatas[] = ['name_surname' => $items['name_surname'],'address' => $items['address'],'city' => isset($cityList[$items['city']]) ? $cityList[$items['city']] : $items['city'],'county' => isset($countyList[$items['city']][$items['county']]) ? $countyList[$items['city']][$items['county']] : $items['county'],'pay' => $pay,'carrier' => $carrierList[$items['carrier_id']]['name_surname'],'status' => $status[$items['status']]['title'],'package' => $items['package'],'number' => $items['number']];
}

$csvBase64 = base64_encode(json_encode($csvDatas));
$this->inlineScript()
    //->prependFile($this->basePath('operation/assets/js/metha-product.js'))
    ->captureStart();
echo <<<JS
$(document).ready(function() {
    $('[data-type="filter"]').on('click', function() {
        window.location.href = '/report/start_date=' + $('[name="start_date"]').val() + '&end_date=' + $('[name="end_date"]').val() + '&carrier_id=' + $('[name="carrier_id"]').val() + '&status=' + $('[name="status"]').val();
    });
    
    $('[data-type="export"]').on('click', function() {
        var base64 = "$csvBase64";
        
        window.location.href = '/report/export-detail/' + base64;
    });
});
JS;

$this->inlineScript()
    ->captureEnd();
?>

<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0"><?=$options['title'];?></h4> <b><?=$options['subtitle'];?></b></div>

            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <?php foreach ($options['breadcrumb'] as $item):?>
                    <li class="breadcrumb-item"><a href="<?=$this->url($item['route']);?>"><?=$item['title'];?></a></li>
                <?php endforeach;?>
            </ol>
        </div>
    </div>

    <div class="col-12 align-self-center">
        <div class="sub-header mt-3 py-3 px-3 rounded">




            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label>Başlangıç Tarihi</label>
                        <input type="date" name="start_date" class="form-control" value="<?=isset($type) ? $datas['start_date'] : date('Y-m').'-01';?>">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Bitiş Tarihi</label>
                        <input type="date" name="end_date" class="form-control" value="<?=isset($type) ? $datas['end_date'] : date('Y-m-d');?>">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Kurye</label>
                        <select name="carrier_id" class="form-control">
                            <option value="0">Tümü</option>
                            <?php foreach ($carrierList as $item):?>
                            <option value="<?=$item['id'];?>" <?=$datas['carrier_id'] == $item['id'] ? 'selected' : null;?>><?=$item['name_surname'];?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Statüler</label>
                        <select name="status" class="form-control">
                            <option value="0">Tümü</option>
                            <?php foreach ($status as $key => $value):?>
                                <option value="<?=$key;?>" <?=$datas['status'] == $key ? 'selected' : null;?>><?=$value['title'];?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>İşlem</label>
                        <button type="button" class="btn btn-primary btn-block" data-type="filter"><i class="fa fa-filter"></i>  Filtrele</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Çıkart</label>
                        <button type="button" class="btn btn-primary btn-block" data-type="export"><i class="fa fa-file-excel"></i>  Excel'e Aktar</button>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Adı Soyadı</th>
                    <?php foreach ($status as $key => $item):?>
                    <th scope="col" style="<?='background-color: '.json_decode($item['settings'],true)['bgcolor'].'!important;';?>"><?=$item['title'];?></th>
                    <?php endforeach;?>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($reportList as $key => $item):?>
                <tr>
                    <td><?=$key;?></td>
                    <?php foreach ($status as $key => $value):?>
                        <td style="<?='background: '.json_decode($value['settings'],true)['bgcolor'].'!important;';?>"<?=count($item[$key]) > 0 ? ' class="metha-selected"' : null;?>><?=count($item[$key]);?></td>
                    <?php endforeach;?>
                </tr>
                <?php endforeach;?>
                </tbody>
            </table>






        </div>
    </div>


</div>
